
<div class="flex-container-outline">


<div class = "flex-container-left">
  <img src="assets/frame1.png" alt = "vegetables" style =" width: 100px; height: 70px;">

  <div  *ngFor="let number of [0,1]">


        <label style="width:70px;"><input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{vegetables[number*3]}}" (change)="onItemChange(vegetables[number*3])"  >{{vegetables[number*3]}}</label>
        <label style="width:70px;"><input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{vegetables[number*3+1]}}" (change)="onItemChange(vegetables[number*3+1])"  >{{vegetables[number*3+1]}}</label>
        <label style="width:70px;"><input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{vegetables[number*3+2]}}" (change)="onItemChange(vegetables[number*3+2])"  >{{vegetables[number*3+2]}}</label>


  </div>
  <img src="assets/frame_meat.png" alt = "vegetables" style =" width: 100px; height: 70px;">
  <div  *ngFor="let number of [0,1]">

    <div class="radio" >
      <label style="width:70px;"><input type="radio" [(ngModel)]="radioSelected_meat" value="{{meats[number*3]}}" (change)="onItemChange_Meat(meats[number*3])"  >{{meats[number*3]}}</label>
      <label style="width:70px;"><input type="radio" [(ngModel)]="radioSelected_meat" value="{{meats[number*3+1]}}" (change)="onItemChange_Meat(meats[number*3+1])"  >{{meats[number*3+1]}}</label>
      <label style="width:70px;"><input type="radio" [(ngModel)]="radioSelected_meat" value="{{meats[number*3+2]}}" (change)="onItemChange_Meat(meats[number*3+2])"  >{{meats[number*3+2]}}</label>
    </div>

  </div>

</div>

<div class = "flex-container-right">

  <div><img src="assets/{{cookPic}}"  style =" width: 300px; height: 150px; margin-bottom: 70px; "></div>
  <div>
    <div style = "height: 10px; width: 100%; background:#ddd; margin-bottom: 30px;">
      <div style = "height: 10px; background: green" [ngStyle]="{'width.%': pwidth}"></div>
    </div>
    <button class= "btn btn-primary" (click)="cook()" [disabled] ="!disableBtn" style="margin-right: 20px;" >试试我的手艺 </button>
    <button class= "btn btn-primary" (click)="reSetitem()" >重新选一下</button>
  </div>
  <div *ngIf="isCooked" ><img src="assets/{{dishPic}}"  style =" width: 300px; height: 200px; margin-top: 30px; "> </div>
  <div *ngIf="isBad" style="margin-top: 50px;" ><h2>差一点点味道!😉</h2></div>
</div>
</div>





