.informBoxBoarder{
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top: solid 2px;
  width: 300px;
  border-color: cornflowerblue;
}



.flex-container-outline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.flex-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
}

.flex-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
}

